<!DOCTYPE html>
<html lang="en">
<head>
    <title>Leandro BD</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav>
    <a href="" class="button-box">Admin</a>
    <ul class="nav-content">
        <a href="/criarEstudante"><li class="button-text">Sign-Up</li></a>
        <a href="/loginEstudante"><li class="button-box">Login</li></a>
    </ul>
</nav>

<main>            
    <div class="content center">
        <h2 class="space">Preencha as informações abaixo para atualizar sua conta:</h2>
        <form action="/updateEstudanteData?matricula=<%- estudanteInfo.Matricula %>" method="post" enctype="multipart/form-data">

            <div class="space">
                <label class="center input-label" for="Matricula">Matricula:</label><br>
                <input class="input-box" type="text" placeholder="Matricula..." name="matricula" readonly value="<%- estudanteInfo.Matricula %>">
            </div>

            <div class="space">
                <label class="center input-label" for="Email">Email:</label><br>
                <input class="input-box" type="email" placeholder="Email..." name="email" readonly value="<%- estudanteInfo.Email %>">
            </div>

            <div class="space">
                <label class="center input-label" for="Senha">Senha:</label><br>
                <input class="input-box" type="password" placeholder="Senha..." name="senha" readonly value="<%- estudanteInfo.Senha %>">
            </div>

            <div class="space">
                <label class="center input-label" for="Nome">Nome:</label><br>
                <input class="input-box" type="text" placeholder="Nome..." name="nome" value="<%- estudanteInfo.Nome %>">
            </div>
            
            <div class="space">
                <label class="center input-label" for="Curso">Curso:</label><br>
                <input class="input-box" type="text" placeholder="Curso..." name="curso" value="<%- estudanteInfo.Curso %>">
            </div>            
            
            <div class="space">
                <input class="center button-box" type="submit" value="Atualizar">
            </div>

        </form>
    </div>
</main>
<script src=""></script>
</body>
</html>

